/*Navigation Bar Dimensions*/
ul {
list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width:100%;
}

/* Horizontal Navigation Bar*/
li {
    float: left;
}

/* Dimensions/ Attributes to Navigation Tabs*/
li a {
   	display: block;
    color: white;
    text-align: center;
    padding: 14px 90px;
    text-decoration: none;
}

/* Hover Attribute for Navigation Bar*/
li a:hover:not(.active) {
    background-color: #111;
}

/* Makes Home Navigation Tab Red*/
.active {
    background-color: #E21E3C;
}

/*hover select*/

a.ex1:hover, a.ex1:active {color: red;}


/*background image */
body {
  background-image: url("Pictures/RedFoxLogo.png");
  background-repeat: no-repeat;
  background-size: 500px 500px;
  background-position: center;
}

/*Align H2 text to Center*/
h2 {
    text-align: center;
}


/*title*/
IMG.title {
    display: block;
    height: 75px;
    width: 175px;
    margin-left: 7% ;
}

/*Dimensions of Picture Slide DIV and centers it*/
div.slide {
	margin-left: 50px;
    margin-right: 50px;
    height: 90%;
    width: 90%;

}


/*background DIV*/
div.container {
width: 90%;
border: 1px black;
color:black;
margin-left: auto ;
margin-right: auto;
margin-top:50px;
opacity: 1;

}

/*Invisible DIV*/
div.container2 {
width: 85%;
height:75%;
border:0px;
color:black;
margin-left: auto ;
margin-right: auto;

}

/*Grey Background Div*/
.first {
text-align:center;
float:left;
width: 100%;
height:1550px;
background-color:#D3D3D3;
border: 1px solid gray;
font-family:Arial;
padding:.1em;
color:black;
margin-left: auto ;
margin-right: auto;
opacity: .9;
}


/*Invisible div that contains table*/
.table_div {
width: 92%;
height: 35%;
border:0px;
margin-left: auto;
margin-right: auto;
background-color:white;
overflow-x:auto;
overflow-y:auto;
}

/*Table*/
table {
    border-collapse: collapse;
    height:65%;
    width: 100%;
    opacity: 1;
}
/*Styles text within these tags*/
th, td {
    text-align: left;
    padding: 16px;
    font-size:16px;
}
/*Background color for table columns*/
tr:nth-child(even){background-color: #f2f2f2}

/*Styles text within these tags*/
th {
    background-color: #E21E3C;
    color: white;
    text-align: center;
    font-size:25px;
}

/*dimensions of map*/
#map {
height: 700px;
width: 700px;
margin-left: auto;
margin-right: auto;
}
